<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link href="/static/finalstyle.css" rel="stylesheet"/>
        <title>Web50 Flack</title>
    </head>
    <body class="bg-light">
        <nav class="navbar navbar-expand-md navbar-light bg-white border">
            <a class="navbar-brand" href="/"><span class="myBlue">W</span><span class="myPink">e</span><span class="myYellow">b</span><span class="myGreen">50</span> <span class="black">Flack</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <main class="container p-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Sign into Flack</h2>
                    <form action="/signin" method="post">
                        <div class="form-group">
                            <input autocomplete="off" autofocus class="form-control index-input" name="displayname" placeholder="Display name" type="text"/>
                        </div>
                        <button class="btn btn-primary" type="submit">Continue</button>
                    </form>
                </div>
            </div>
        </main>
        <footer class="small text-center text-muted footnote">
            Project for <a href="https://cs50.github.io/web/">Web50</a>, extending <a href="https://cs50.harvard.edu/">Harvard's CS50</a>.
        </footer>
    </body>
</html>
